<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="lan">
        <img src="../static/images/PHP-Logo.wine.png" width="200px" alt="">
    </div>
    <div id="content">
        
        <div class="first">
            <div class="logo">
                <img src="../static/images/7.jpg" width="150px" alt="">
                <h1>SECURING YOUR BRAND AND YOUR REPUTATION</h1>
                <h3>A straightforward guide to understanding TLS/SSL </h3>
                <h3 id="second2">certificates</h3>
            </div>
            
            <div class="pr">
                <p>Almost every organization ,from global enterprises to local shops is on the path to digital
                transformation.And TLS/SSL certificates form the foundetion for protection,privacy,and brand 
                integrity in the digital realm.This guide provides you with a working understanding of TLS/SSL
                certificates and offers advice on how to select buy, and deploy them.
                </p>
            </div>
            <div class="pu">
                <p>Topics include:</p>
                <ul>
                    <li>What are TLS/SSL certificates?</li>
                    <li>Why are TLS/SSL certificates so important? </li>
                    <li>How do TLS/SSL certificates work?</li>
                    <li>Various types of certificates</li>
                    <li>Tips for choosing and ascuiring certificates</li>
                </ul>
                <p>To download the free abook, complate the form on the right.</p>
            </div>
        </div>
        <div class="second">
            <div class="photo">
                <img src="../static/images/photo.jpg" height="250px" alt="">
            </div>
            <div class="do">
                <p id="ha">Download Now</p>
                <form >
                    <input type="text" placeholder="Firs name">
                </form>
                <form>
                    <input type="text" placeholder="Last name">
                </form>
                <form>
                    <input type="text" placeholder="Email">
                </form>
                <form>
                    <select >
                        <option value="1">Please select</option>
                    </select>
                </form>
                <form>
                    <input type="checkbox" id="check"><label>Hasilbek</label>
                </form>
                <button>Submit</button>

            </div>
        </div>
    </div>
</body>
</html>